@model JN.Ordersystem.UI.Models.OrderViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order #@Html.DisplayFor(model => model.OrderID)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="visually-hidden form-group">
                <label asp-for="OrderID" class="control-label"></label>
                <input asp-for="OrderID" class="form-control" />
                <span asp-validation-for="OrderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label">Order Date</label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label">Select a new customer</label>
                <div class="d-flex">
                    <select id="customerDropdown" name="CustomerID" class="form-control">
                        <option value="@Model.Customer.CustomerID" selected>@Model.Customer.CustomerFullName</option>
                            @foreach (var customer in Model.Customers as SelectList)
                            {
                                <option value="@customer.Value">@customer.Text</option>
                            }
                    </select>
                </div>
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Status" class="control-label">Current Status</label>
                <input asp-for="Status" class="form-control" value="@Model.Status"/>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                @for (var i = 0; i < Model.OrderDetails.Count; i++)
                {
                    var productID = Model.OrderDetails[i].ProductID;
                    var productToShow = Model.OrderDetails[i].Product;
                    var quantity = Model.OrderDetails[i].Quantity;

                    <div class="form-group">
                        <label asp-for="OrderDetails[i].ProductID" class="control-label">Select a new product</label>
                        <div class="d-flex">
                            <select name="OrderDetails[@i].ProductID" class="form-control product-dropdown">
                                <option value="@productToShow.ProductID" selected>@productToShow.ProductFull</option>
                                @foreach (var product in Model.OrderDetails[i].Products as SelectList)
                                {
                                    if (product.Value != productToShow.ProductID.ToString())
                                    {
                                        <option value="@product.Value">@product.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <span asp-validation-for="OrderDetails[i].ProductID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="OrderDetails[i].Quantity" class="control-label">Quantity</label>
                        <input asp-for="OrderDetails[i].Quantity" class="form-control" type="number" min="1" value="@Model.OrderDetails[i].Quantity" />
                        <span asp-validation-for="OrderDetails[i].Quantity" class="text-danger"></span>
                    </div>

                    <input type="hidden" name="OrderDetails[@i].OrderDetailViewID" value="@Model.OrderDetails[i].OrderDetailViewID" />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
