@model IEnumerable<JN.Ordersystem.DAL.Entities.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Order ID
            </th>
            <th>
                Date
            </th>
            <th>
                Customer
            </th>
            <th>
                Total Items
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerLastName) @Html.DisplayFor(modelItem => item.Customer.CustomerFirstName) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
