@model IEnumerable<JN.Ordersystem.DAL.Entities.Order>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Orders</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="text-right mb-3">
        <a href="@Url.Action("Create", "Order")" class="btn btn-primary">+ New Order</a>
      </div>
      <table id="orderDatatable" class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Total Items</th>
                <th>Sales Total</th>
                <th>Status</th>
                <th class="align-right">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td> 
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    <a href="@Url.Action("Details", "Customer", new { id = item.CustomerID })">
                        @Html.DisplayFor(modelItem => item.Customer.CustomerLastName) @Html.DisplayFor(modelItem => item.Customer.CustomerFirstName)
                    </a>
                </td>
                <td>
                    @{
                        int totalQuantity = 0;

                        foreach (var detail in item.OrderDetail)
                        {
                            totalQuantity += detail.Quantity;
                        }
                    }
                    @totalQuantity
                </td>
                <td>
                    @{
                        decimal totalSales = 0;

                        foreach (var detail in item.OrderDetail)
                        {
                            totalSales += detail.Quantity * detail.Product.Price;
                        }
                    }
                    € @totalSales
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="text-right actions-column">
                    <div class="action-icons">
                        @if (item.Status != "Shipped")
                        {
                            @if (item.Status == "Pending")
                            {
                                <a href="#" class="btn btn-success process-button" data-order-id="@item.OrderID">Process</a>               
                            }
                            else
                            {
                                <a href="#" class="btn btn-success confirm-button" data-order-id="@item.OrderID">Confirm</a>      
                            }
                            <a href="@Url.Action("Edit", new { id = item.OrderID })" title="Edit"><i class="fa-solid fa-edit action-button"></i></a>
                            <a href="@Url.Action("Details", new { id = item.OrderID })" title="Details"><i class="fa-solid fa-info-circle action-button"></i></a>
                            <a href="@Url.Action("Delete", new { id = item.OrderID })" title="Delete"><i class="fa-solid fa-trash-can action-button"></i></a>            
                        }
                        else
                        {
                            <a href="@Url.Action("Details", new { id = item.OrderID })" title="Details"><i class="fa-solid fa-info-circle action-button"></i></a>
                            <a href="@Url.Action("Delete", new { id = item.OrderID })" title="Delete"><i class="fa-solid fa-trash-can action-button"></i></a>                   
                        }
                    </div>
                </td>
            </tr>
            }
        </tbody>
       </table>
    </div>
  </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
